@model IEnumerable<GoBrandingSEO.Models.Giay>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTonKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mausac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.masale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiGiay.TenLoaiGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhassanxuat.TenNSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGiay }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGiay }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGiay })
        </td>
    </tr>
}
